{% extends "admin/layout/layout.html" %}
{% block title %}Grup Ekle{% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}
    <div class="content-wrapper">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-primary">
                            <form role="form" id="quickForm" method="post">
                                {% csrf_token %}
                                {{ form_as.p }}
                                <div class="card-body">
                                    <div class="form-group">
                                        {{ form.userId|as_crispy_field }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.groupId|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                    <button class="btn btn-danger"><a style="color: #fff"
                                                                      href="{% url 'groups_index' %}">Go Back</a>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {% include 'admin/layout/footer.html' %}
{% endblock %}