<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="{% url 'all_tickets' %}" class="brand-link">
        <span class="brand-text font-weight-light">WWTTMS</span>
    </a>
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="info">
                <a href="#" class="d-block">{{ request.user.get_full_name }}</a>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header">Navigation</li>
                <li class="nav-item has-treeview">
                    <a href="" class="nav-link">
                        <i class="nav-icon fas fa-circle"></i>
                        <p>
                            User
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'admin_users' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Users</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'admin_account_groups' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Customers' Groups</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'admin_add_group_to_user' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Add User Group</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'admin_add_account' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Add User</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="" class="nav-link">
                        <i class="nav-icon fas fa-circle"></i>
                        <p>
                            Group
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'groups_index' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Groups</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'add_group' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Add Group</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="" class="nav-link">
                        <i class="nav-icon fas fa-circle"></i>
                        <p>
                            Ticket
                            <i class="right fas fa-angle-left"></i>
                            <span class="badge badge-info right">{{ unreadCount }}</span>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url 'all_tickets' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Tickets</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'unread_tickets' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Unread Tickets</p>
                                <span class="badge badge-info right">{{ unreadCount }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>